<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-add</title>
</head>
<body>
    <form action="{% url 'productdata' %}" method="POST">{% csrf_token %}
        {% if err %}
        <p style="text-align: center; color: red;">{{err}}</p>
        {% endif %}
        <table align ="center" cellspaccing=0 cellpadding=10 border="5">
            <!-- <tr><td style="font-size: larger">Add Customer</td></tr> -->
            <tr><td>Product Name <td><input type="text" name="productname"></td></td></tr>
            <tr><td>Product Price <td><input type="text" name="productprice"></td></td></tr>
            
            <tr><td><input type="submit" value="Add Product"></td></tr>
        </table>
    </form>
</body>
</html>